In [ ]:
#Linear Regression in which we have a straight line y=mx+c
#slope(m)
#intercept(c)
#generate line equation using two-point form

In [ ]:
#When we use multiple linear regression
#if more than 2 variable
#i.e one dependent variabke
#i.e two or more independent variables

In [ ]:
#Linear Regression
# Very simple to implement
# perform well on data with linear relationship
# not suitable for data having non-linear relationship
# underfitting issue
#if we have more outliers you cannot implement

In [ ]:
#loss function
#it is helpful to determine which model perfroms better and which parameters are better
#calculate loss value if low then high accuracy

In [ ]:
#model optimization:
# less accurate and high loss value
#if you plot the curve between loss function and parameter with the help of graph u can judge
#which is suitable for you that to be as good model
#so there is something called gradient descent which is an algorithm used for minimizing
# the loss function in various machine learning algorithms
#learn the formula that is for gradient descent
#m2=m1-LDm
#c2=c1-LDc
#slope,intercept,learning rate,partial derivatives

In [ ]:
#building linear regression from scratch
import numpy as np

In [ ]:
import numpy as np

class Linear_Regression:
    def __init__(self, learning_rate=0.01, no_of_iterations=1000):
        self.learning_rate = learning_rate
        self.no_of_iterations = no_of_iterations

    # To train the model
    def fit(self, X, Y):
        self.m, self.n = X.shape  # Number of rows (samples) and columns (features)
        self.w = np.zeros(self.n)  # Initialize weights
        self.b = 0
        self.X = X
        self.Y = Y

        # Implementing gradient descent
        for i in range(self.no_of_iterations):
            self.update_weights()

    def update_weights(self):
        Y_prediction = self.predict(self.X)

        # Compute gradients (vectorized)
        dw = (1 / self.m) * np.dot(self.X.T, (Y_prediction - self.Y))
        db = (1 / self.m) * np.sum(Y_prediction - self.Y)

        # Updating the weights using gradient descent
        self.w -= self.learning_rate * dw
        self.b -= self.learning_rate * db

    def predict(self, X):
        return np.dot(X, self.w) + self.b

In [ ]:
#as year of experience increases,salary will also increases
#we can say that,linear regression can be implementable

In [ ]:
#work flow of linear regression model
#step 1:set learning rate and number of iterations,initiate random weight and bias value
#step 2:build linear regression equation
#step 3:find the y prediction value for given x values for the corresponding weight and bias
#step 4:check the loss function for these parameter values
#step 5:update the parameter values using gradient descent(new weight & bias value)
#step 6:step 3,4,5 are repeated till we get minimum loss function
#finally we will get the best model (best weight and bias value)as it has minimum loss function

In [ ]:
import pandas as pd
from sklearn.model_selection import train_test_split
import matplotlib.pyplot as plt

In [ ]:
salary_data=pd.read_csv('Salary_Data.csv')

In [ ]:
salary_data.head()

,Age,Gender,Education Level,Job Title,Years of Experience,Salary
0,32.0,Male,Bachelor's,Software Engineer,5.0,90000.0
1,28.0,Female,Master's,Data Analyst,3.0,65000.0
2,45.0,Male,PhD,Senior Manager,15.0,150000.0
3,36.0,Female,Bachelor's,Sales Associate,7.0,60000.0
4,52.0,Male,Master's,Director,20.0,200000.0

In [ ]:
salary_data.tail()

,Age,Gender,Education Level,Job Title,Years of Experience,Salary
6699,49.0,Female,PhD,Director of Marketing,20.0,200000.0
6700,32.0,Male,High School,Sales Associate,3.0,50000.0
6701,30.0,Female,Bachelor's Degree,Financial Manager,4.0,55000.0
6702,46.0,Male,Master's Degree,Marketing Manager,14.0,140000.0
6703,26.0,Female,High School,Sales Executive,1.0,35000.0

In [ ]:
salary_data.shape

(6704, 6)

In [ ]:
#checking the missing values
salary_data.isnull().sum()

Age                    2
Gender                 2
Education Level        3
Job Title              2
Years of Experience    3
Salary                 5
dtype: int64

In [ ]:
#splitting the feature and target
X=salary_data.iloc[:,:-1].values
Y=salary_data.iloc[:,-1].values

In [ ]:
X_train,X_test,Y_train,Y_test=train_test_split(X,Y,test_size=0.2,random_state=2)

In [ ]:
#training the linear regression
model=Linear_Regression(learning_rate=0.02,no_of_iterations=100)

In [ ]:
#to fit the values you need x and y value
import numpy as np
X_train = np.array(X_train)

In [ ]:
Y_train = np.array(Y_train)

In [ ]:
#problem in regression if not numerical data type
#printing the parameter values that is weight and bias
#weight as w[0] and bias as model.b
#test data prediction
test_data_prediction=model.predict(X_test)

ValueError: 2

In [ ]:
#visualising the predicted values and actual values
plt.scatter(X_test,Y_test,color='red')
plt.plot(X_test,test_data_prediction,color='blue')
plt.xlabel('Years of Experience')
plt.ylabel('Salary')
plt.title('Salary vs Experience')
plt.show()

In [ ]:
#for classification you can use accuracy score and evaluation matrix
#for regression mean square error and mean absolute error
#there is another using import lr fucntion from other file
#no of iterations will change the value of weight and bias

In [ ]:
#logistic regression
# supervised learning model,classification model best known for binary classification
# uses sigmoid function

In [ ]:
#sigmoid curve function
#y cap=1/1+e^-z we can check the range using the putting values maximum and minimum
#z=wX+b
#y=probability that y=1
#X=input features
#w=weights(no of weights is equal to the number of input features in a dataset)
#b-bias
#values cannot out of range of 0 to 1

In [ ]:
#advantages
# 1.easy to implement
# 2.performs well on data with linear relationship
# 3.less prone to over fitting for low dimensional dataset

In [ ]:
#disadvantages:
# 1.high dimensional dataset causes over fitting
# 2.difficult to capture complex relationship in a datase
# 3.sensitive to outliers
# 4.needs a larger dataset
#if its <0.5 it becomes 0 else if it is >0.5 it becomes 1

In [ ]:
#gradient descent with global minima have minimum loss fucntion
#distance between true value and estimated value

In [ ]:
#there is something called loss function for logistics that is binary cross entropy loss function

In [ ]:
#cost function which deals with a penalty for a number of training sets or the complete batch

In [ ]:
#use the formula for each calculation
#draw the graph between cost fucntion and weight for the gradient descent
#that is mainly used for updating the parameters of the learning model
#updated bias and updated weight
#w2=w1-L*Dw
#b2=b1-L*db

In [ ]:
#learn to build from scratch
#implement it in diabetes prediction

In [ ]:
#refer diabetes prediction project